body {
    background-image: url(../images/RememberBackground.png);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: gray;
    background-position: 0px 0px;
    height: 100%;
}

.header {
    z-index: 1;
}

.header:not(:hover) {
    transform: translatey(-100%);
    transition: 2s ease-in-out;
}

.header:hover {
    transform: translatey(0%);
    transition: 2s ease-in-out;
}

.part1 {
    width: 100%;
    text-align: center;
    font-size: 4vmin;
    z-index: 10;
}

.part1-1 {
    padding: 10%;
    font-size: 10vmin;
}

.part2 {
    width: 100%;
    text-align: center;
    font-size: 5vmin;
    height: 100%;
}

.part3 {
    width: 100%;
    text-align: center;
    font-size: 5vmin;
    height: 100%;
}

.part3-1 {
    width: 100%;
    text-align: center;
    font-size: 10vmin;
    height: 100%;
}